body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #90EE90;
}

.login-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.welcome h2 {
    text-align: center;
}

h3,
h4 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

thead th {
    background-color: #4CAF50;
    color: white;
}

.product-total-price {
    font-weight: bold;
}

.checkout-container {
    text-align: center;
    margin-top: 20px;
}

.checkout-container p {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.product-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-info th,
.product-info td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-info th {
    background-color: #4CAF50;
    color: white;
}

.product-image {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 8px;
    object-fit: cover;
}